/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2017, 8:14:32 PM
    Author     : hantsy
*/
body {
    background-color: yellowgreen;
    font-size: large;
}

